## Topic: Merge two list into dictionary

In [4]:
A = ['Physics', 'Math', 'Social', 'Chemistry', 'Geology']
B= [1,2,3,4,5]
D = dict(zip(B,A))
D

{1: 'Physics', 2: 'Math', 3: 'Social', 4: 'Chemistry', 5: 'Geology'}

In [5]:
R = [45, 65, 77, 48, 63]
D2 = dict(zip(A, R))
D2

{'Physics': 45, 'Math': 65, 'Social': 77, 'Chemistry': 48, 'Geology': 63}

In [6]:
print(D2)

{'Physics': 45, 'Math': 65, 'Social': 77, 'Chemistry': 48, 'Geology': 63}

## Task 2: Write two list, one representing the name of people and other representing the age, and merge them into dictionary

In [2]:
A = ['Ram', 'Shyam', 'Sita', 'Chandra', 'Gopal']
B= [1,2,3,4,5]
D = dict(zip(B,A))
D

{1: 'Ram', 2: 'Shyam', 3: 'Sita', 4: 'Chandra', 5: 'Gopal'}

In [3]:
R = [45, 65, 34, 48, 63]
D2 = dict(zip(A, R))
D2

{'Ram': 45, 'Shyam': 65, 'Sita': 34, 'Chandra': 48, 'Gopal': 63}

In [10]:
print (D2)

{'Ram': 45, 'Shyam': 65, 'Sita': 34, 'Chandra': 48, 'Gopal': 63}

In [12]:
D3 = {}
D3.update({'S. N.': B,'Name_of_person': A, 'Age': R})
print(D3)

{'S. N.': [1, 2, 3, 4, 5], 'Name_of_person': ['Ram', 'Shyam', 'Sita', 'Chandra', 'Gopal'], 'Age': [45, 65, 34, 48, 63]}

In [13]:
import pandas as pd  # import pandas, pandas is used to deals with tabular data

In [14]:
Result=pd.DataFrame(D3) #convert dictionary into table or csv file
Result

   S. N. Name_of_person  Age
0      1            Ram   45
1      2          Shyam   65
2      3           Sita   34
3      4        Chandra   48
4      5          Gopal   63

In [17]:
DF = pd.DataFrame(D3)
DF.head()

   S. N. Name_of_person  Age
0      1            Ram   45
1      2          Shyam   65
2      3           Sita   34
3      4        Chandra   48
4      5          Gopal   63

In [18]:
DF.to_csv("data/sampledata.csv")

# upload data  from a csv file

In [19]:
uploaded_data = pd.read_csv("data/sampledata.csv")

In [20]:
uploaded_data.head()

   Unnamed: 0  S. N. Name_of_person  Age
0           0      1            Ram   45
1           1      2          Shyam   65
2           2      3           Sita   34
3           3      4        Chandra   48
4           4      5          Gopal   63

### Topic: How can we merge three lists into dictionary?

In [15]:
D3 = {}
D3.update({'S. N.': B,'Subjects': A, 'Marks_obtained': R})
print(D3)

{'S. N.': [1, 2, 3, 4, 5], 'Subjects': ['Physics', 'Math', 'Social', 'Chemistry', 'Geology'], 'Marks_obtained': [45, 65, 77, 48, 63]}

## Topic:Convert Dictionary into table data, e.g., .csv file.

In [16]:
import pandas as pd  # import pandas, pandas is used to deals with tabular data

In [17]:
Result=pd.DataFrame(D3) #convert dictionary into table or csv file
Result

   S. N.   Subjects  Marks_obtained
0      1    Physics              45
1      2       Math              65
2      3     Social              77
3      4  Chemistry              48
4      5    Geology              63

### Topic: How to save table into .csv file

In [24]:
# mkdir data #create new folder in the same location in which you are working or in which the notebook is opened

In [22]:
Result.to_csv('data/Result.csv') #save the .csv file into the folder 'data', data/Result: Folder_name/File_name